# PyCharm
.idea/

/Ubuntu-20.04/developer/.cache/
/Ubuntu-20.04/developer/.config/
/Ubuntu-20.04/developer/.dbus/
/Ubuntu-20.04/developer/.gnupg/
/Ubuntu-20.04/developer/.gvfs/
/Ubuntu-20.04/developer/.kde/
/Ubuntu-20.04/developer/.local/
/Ubuntu-20.04/developer/.nx/
/Ubuntu-20.04/developer/.qt/
/Ubuntu-20.04/developer/.esd_auth
/Ubuntu-20.04/developer/.ICEauthority
/Ubuntu-20.04/developer/.sudo_as_admin_successful
/Ubuntu-20.04/developer/.xsession-errors
/Ubuntu-20.04/developer/.bash_history
/Ubuntu-20.04/cdeveloper/.cache/dconf/
/Ubuntu-20.04/cdeveloper/.config/pulse/
/Ubuntu-20.04/cdeveloper/.dbus/session-bus/
/Ubuntu-20.04/cdeveloper/.nx/
/Ubuntu-20.04/cdeveloper/.qt/
/Ubuntu-20.04/cdeveloper/.Xauthority
/Ubuntu-20.04/cdeveloper/.xsession-errors
/Ubuntu-20.04/developer/.gitconfig
/Ubuntu-20.04/developer/.mozilla
/Ubuntu-20.04/developer/.java
/Ubuntu-20.04/developer/.ssh
/Ubuntu-20.04/developer/.java/.userPrefs/.user.lock.developer
/Ubuntu-20.04/developer/.java/.userPrefs/.userRootModFile.developer
/Ubuntu-20.04/developer/.Xauthority
