# PyCharm
.idea/

/developer/.cache/
/developer/.config/
/developer/.dbus/
/developer/.gnupg/
/developer/.gvfs/
/developer/.kde/
/developer/.local/
/developer/.nx/
/developer/.qt/
/developer/.esd_auth
/developer/.ICEauthority
/developer/.sudo_as_admin_successful
/developer/.xsession-errors
/developer/.bash_history
