
----- Begin subscription data -----

NX Subscription Certificate

Copyright (c) 2001,2019 NoMachine, http://www.nomachine.com

Date:                   Mon Dec 16 11:29:15 CET 2019
Product:                NoMachine Server Evaluation Node
Customer:               NoMachine
E-mail:                 info@nomachine.com
Product Id:             LSEN
Subscription Id:        None
Subscription Type:      Evaluation
Subscription Version:   6
Expiry:                 Wed Jan 15 11:29:15 CET 2020
Platform:               Linux
Users:                  Unlimited
Connections:            1
Virtual Desktops:       None
Processors:             Unlimited
Server Key:             338152313bf6c6675450c46807bc572c923bc271
Product Key:            4bc6229d9c857232ed16ca6399bee1b33573e887
Subscription Key:       68e2478467a170a8e84e69615023719787aa4b08

----- End subscription data -----

