[Desktop Entry]
Version=1.0
Type=Application
Name=Postman
Icon=/opt/app/resources/app/node_modules/localforage/bower_components/modernizr/media/Modernizr 2 Logo.svg
Exec="/opt/apps/Postman/app/Postman" %f
Comment=Postman
Categories=Development;IDE;
Terminal=false

