[Desktop Entry]
Version=1.0
Type=Application
Name=Postman
Icon=/opt/apps/Postman/app/resources/app/assets/icon.png
Exec="/opt/apps/Postman/app/Postman" %f
Comment=Postman
Categories=Development;IDE;
Terminal=false

